.album-container {
  width: 220px;
  height: 320px;
  background-color: rgb(36, 36, 36);
  padding: 10px 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(80, 77, 77);
  margin: 10px 10px;
  position: relative;
}

.text-container {
  text-align: left;
  padding: 0 5px;
}

.img-container img {
  width: 200px;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(82, 219, 82);
  position: absolute;
  top: 56%;
  left: 68%;
}

.del-btn{
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: rgb(250, 96, 96);
}

.bi{
  color: white;
}